body {
  background-color: black;
  font-family: "Roboto Mono", monospace;
  color: white;
}

h2 {
  margin-top: 12px;
  color: white;
  text-align: center;
  font-weight: 200;
}

a {
  cursor: pointer;
}

.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#note {
  min-width: 700px;
  max-width: 70vw;
  min-height: 40vh;
  padding: 32px;
  color: white;
  border: 1px solid #c4c4c4;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#question {
  color: #1d5deb;
  font-size: 28px;
}

#answer {
  color: #c4c4c4;
  font-size: 20px;
}

#show {
  color: #41eb52;
  font-size: 20px;
}

#levels-container {
  color: #41eb52;
  font-size: 20px;
  margin-top: 16px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  display: flex;
  background-color: #861414;
  font-size: 20\px;
  padding: 4px 0;
  font-weight: 200;
}

.left-section {
  display: flex;
}

.left-section div {
  padding: 0 16px;
  border-right: 3px solid #6a5d5d;
  color: #c4c4c4;
  cursor: pointer;
}

.right-section {
  position: absolute;
  right: 0;
  padding: 0 16px;
  color: #c4c4c4;
  border-left: 3px solid #6a5d5d;
  cursor: pointer;
}

.hide {
  display: none;
}
