.deck-container {
    margin: 0 50px;
}

.deck-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem;
}

.deck-header .search {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.deck-header label {
    margin-right: 1rem;
}

.deck-header input {
    padding: 0.5rem;
    border: 1px solid #666;
    background-color: #2a2a2a;
    max-width: 500px;
    color: white;
    border-radius: 50px;
    margin-right: 1rem;
}

.deck-table {
    width: 100%;
    border-collapse: collapse;
}

.deck-table th {
    background-color: var(--highlight-color-2);
    color: #333;
    font-weight: bold;
}

.deck-table th,
.deck-table td {
    border: 1px solid #333;
    padding: 8px;
    text-align: left;
}

.deck-table tr:nth-child(even) {
    background-color: #313131dd;
}

.answer-column {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.id-column {
    max-width: 100px;
}

button {
    margin-right: 5px;
    padding: 5px 10px;
    cursor: pointer;
}
