.question {
    font-size: 3rem;
    font-weight: 700;
}

.categories {
    margin-top: 50px;
}

.category {
    margin: 20px;
    border-radius: 50px;
    height: 3rem;
    width: 12rem;
    border: 0.25rem solid black;
    color: black;
    font-weight: 600;
}

.easy {
    background-color: var(--success-color);
}

.medium {
    background-color: var(--hightlight-color-2);
}

.difficult {
    background-color: var(--error-color);
}

.current-category-mark {
    margin-left: 10px;
}
